<!DOCTYPE html>
<html>
    <head><title>The Good Shepherd Home Care, LLC</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
        <link href="../css/styles.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
      <a href="http://localhost:3000/" class="active"><img src="../img/goodshepherd.jpg" id="logo" class="img-fluid" alt="Responsive image"></a>
      <a href="http://localhost:3000/admin">Admin Main</a>
      <a href="http://localhost:3000/admin/cs">Customer Service</a>
    </div>
   
    <div id="all" class="container-fluid">
    <br>
    <br>
    <h1>JOB APPLICATIONS</h1>
    <br>
    <h2>Applicant List</h2>
    <br>
    <script type="text/javascript">
        function editid(clicked_id)
        {
            alert(clicked_id);
            window.location.href = 'editappl/' + clicked_id;
        }
      </script>
      <div class="table">
    <table>
        <thead>
           <tr>
          <th>Applicant No.</th>
          <th>Application Date/Time</th>
           <th>First Name</th>
           <th>Last Name</th>
           <th>Email Address</th>
           <th>Phone Number</th>
           <th>ZIP Code</th>
           <th>Mailing List</th>
           </tr>
          </thead>
          <tbody>
          <% applicants.forEach(function(applicant){  %>
            <tr>
              <td><%= applicant.applicantnumber %></td>
              <td><%= applicant.applicationdate %></td>
              <td><%= applicant.firstname %></td>
              <td><%= applicant.lastname %></td>
              <td><%= applicant.email %></td>
              <td><%= applicant.phone %></td>
              <td><%= applicant.zipcode %></td>
              <td><%= applicant.mailinglist %></td>
             
              <td> <button id='<%=applicant._id.toString()%>' onClick="editid(this.id)"> Edit </button></td>
            </tr>
          </tbody>
<%})%>
        </table>
    </div>
    <br>
    <br>
    </div>