<!DOCTYPE html>
<html>
    <head><title>The Good Shepherd Home Care, LLC</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
        <link href="../css/styles.css" type="text/css" rel="stylesheet">
</head>
    <body>
        <script>
            function approval() {
                var x = document.getElementById("approveselect").value;
                document.getElementById("approve").value = x;
            }
        </script>
      <div class="container-fluid">
        <a href="http://localhost:3000/" class="active"><img src="../img/goodshepherd.jpg" id="logo" class="img-fluid" alt="Responsive image"></a>
        <a href="http://localhost:3000/admin/cs">Customer Service</a>
        <a href="http://localhost:3000/admin/app">Job Applications</a>
        <a href="http://localhost:3000/admin/logout">Log Out</a>
      </div>
     
      <div id="all" class="container-fluid">
      <br>
      <br>
      <h1>ADMINISTRATOR MAIN PAGE</h1>
      <br>
      <h2>Account Approval Requests</h2>
      <br>
      <form action="editaccount" method="POST">
        <div class="table">
        <table>
            <tr>
              <th>Account Number</th>
              <td><input type='text' name="accountnumber" id="accountnumber" value = <%= user.accountnumber %>></input></td>
            </tr>
            <tr>
                <th>Account Creation Date/Time</th>
                <td><%= user.accountcreationdate %></td>
            </tr>
            <tr>
                <th>First Name</th>
                <td><%= user.firstname %></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><%= user.lastname %></td>
            </tr>
            <tr>
                <th>Email Address</th>
                <td><%= user.email %></td> 
            </tr>
            <tr>
                <th>Phone Number</th>
                <td><%= user.phone %></td>
            </tr>
            <tr>
                <th>ZIP Code</th>
                <td><%= user.zipcode %></td>
            </tr>
            <tr>
                <th>Username</th>
                <td><%= user.username %></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><%= user.password %></td>
            </tr>
            <tr>
                <th>Secret Question</th>
                <td><%= user.secretquestion %></td>
            </tr>
            <tr>
                <th>Secret Answer</th>
                <td><%= user.secretanswer %></td>     
            </tr>
            <tr>
                <th>Approve</th>
                <td><input type='hidden' name="approve" id="approve" value = <%= user.approve %>></input>
                    <select name="approveselect" id="approveselect" onchange="approval()" required>
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option></select></td>
            </tr>
            <tr>
                <th>Confirm</th>
                <td><%= user.confirm %></td>
            </tr>
            <tr>
                <td><input type="submit" value="SUBMIT" id="<%=user._id.toString()%>"></td>
                <input type="hidden" id="userID" name="userID" value="<%=user._id.toString()%>">
              </tr>
            </tbody>
            </table>     
      </div>
    </form>
    <br>
    <br>
    </div>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
    </body>
</html>
